# Dependencias
node_modules/
.pnp
.pnp.js

# Producción / Build
dist/
build/

# Variables de entorno (¡CRÍTICO PARA SEGURIDAD!)
.env
.env.local
.env.global
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor y Sistema
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
